.bg-c-1 {
    background-color: #FEFFFF;
}

.bg-c-2 {
    background-color: #DEF2F1;
}

.bg-c-3 {
    background-color: #3AAFA9;
}

.bg-c-4 {
    background-color: #2B7A78;
}

.bg-c-5 {
    background-color: #17252A;
}

.c-1 {
    color: #FEFFFF;
}

.c-2 {
    color: #DEF2F1;
}

.c-3 {
    color: #3AAFA9;
}

.c-4 {
    color: #2B7A78;
}

.c-5 {
    color: #17252A;
}


/*
#FEFFFF
#DEF2F1
#3AAFA9
#2B7A78
#17252A
*/
